# Logs
*.log

# Environment files
.env
.env.backup
!.env.production  # Allow this file to be committed

# Editor directories and files
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies
/node_modules
/vendor

# Build files
/public/build
/public/hot

# Storage
/public/storage
!/public/build
/storage/*.key
/storage/pail

# Local development
Homestead.json
Homestead.yaml
Thumbs.db

# Keep this file in version control
!.env.example
