# Dependencies
/node_modules
/vendor

# Build files
/public/build
/public/hot

# Storage symlink
/public/storage

# Environment files
.env
.env.backup
!.env.example

# Laravel caches
bootstrap/cache/*.php

# Logs
*.log

# IDE/OS
.idea
.vscode
.DS_Store
Thumbs.db
